.header {
  height: 10vh;
  width: 100%;
  display: flex;
  background: linear-gradient(rgb(2, 2, 123), blue, rgb(2, 2, 123));
  font-size: x-large;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1em solid black;
  cursor: pointer;
  gap: 3em;
}

