.header {
  display: flex;
  height: 15vh;
  background-color: rgb(45, 21, 155);
  width: 100%;
}

.links {
  height: 15vh;
  width: 100%;
  font-size: x-large;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.active {
  color: rgb(183, 6, 6);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em;
}

.inactive {
  color: rgb(138, 138, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em;
}

