.homeStyles{
    margin: 0;
    padding: 0;
    height: 86vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada{
    height: 86vh;
    width: 100%;
}