.notFoundStyles{
    margin: 0;
    padding: 0;
    color: white;
    font-size: xx-large;
    background-color: rgb(156, 66, 48);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}