.middle{
  display: flex;
  flex-direction: row;  
  background-color: #05f;
  height: 75vh;
  width: 100%;
}

.left{
  display: flex;
  flex-direction: row;  
  background-color: #909;
  height: 75vh;
  width: 30%;
}

.right{
  display: flex;
  flex-direction: row;  
  background-color: #90f;
  height: 75vh;
  width: 70%;
}

.browser{
  background-color: aqua;
  height: 100vh;
  width: 100%;
}
