.main{
  margin: 0em;
  padding: 0em;
  width: 100%;
  display: flex;
  flex-direction: column; 
}

.middle{
  display: flex;
  flex-direction: row;  
  background-color: #05f;
  width: 100%;
}

.rightContainers{
  display: flex;
  flex-direction: row;  
  width: 70%;
  border-left: 0.1em solid black;
}
